<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
    </bean>

    <bean id="rmiRegistry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <property name="host" value="${warcaba.server.ip}"/>
        <property name="port" value="${warcaba.server.port}"/>
    </bean>

    <bean id="rmiResolver" class="pl.edu.agh.turek.rozprochy.warcaba.client.communication.RmiResolver">
    <constructor-arg index="0" ref="rmiRegistry"/>
        <constructor-arg index="1" value="${rmi.lookup.retries}"/>
    </bean>

    <bean id="waitingRoomResolver" class="pl.edu.agh.turek.rozprochy.warcaba.client.communication.WaitingRoomResolver">
        <constructor-arg ref="rmiResolver"/>
    </bean>

    <bean id="gameResolver" class="pl.edu.agh.turek.rozprochy.warcaba.client.communication.WarGameResolver">
        <constructor-arg ref="rmiResolver"/>
    </bean>

    <bean id="waitingRoom" factory-bean="waitingRoomResolver" factory-method="resolve">
        <constructor-arg index="0" value="${waiting.room.name}"/>
    </bean>

    <bean id="warManagerResolver" class="pl.edu.agh.turek.rozprochy.warcaba.client.communication.WarManagerResolver">
        <constructor-arg ref="rmiResolver"/>
    </bean>

    <bean id="warManager" factory-bean="warManagerResolver" factory-method="resolve">
        <constructor-arg type="java.lang.String" value="${war.manager.name}"/>
    </bean>

    <bean id="tokenFactory" class="pl.edu.agh.turek.rozprochy.warcaba.client.setup.TokenFactory">
        <constructor-arg ref="warManager"/>
        <constructor-arg index="1" value="${token.creation.retries}"/>
    </bean>

    <bean id="playerToken" factory-bean="tokenFactory" factory-method="create">
    <constructor-arg type="java.lang.String" value="${warcaba.client.nick}"/>
    </bean>

    <bean id="boardPrinter" class="pl.edu.agh.turek.rozprochy.warcaba.client.domain.model.TuiBoardPrinter">
        <constructor-arg ref="playerToken"/>
    </bean>

    <bean id="moveFactory" class="pl.edu.agh.turek.rozprochy.warcaba.client.domain.model.TuiMoveFactory"/>

    <bean id="warPlayerLocal" class="pl.edu.agh.turek.rozprochy.warcaba.client.domain.model.ServerAwareWarPlayer"
          destroy-method="preDestroy">
        <constructor-arg index="0" ref="warManager"/>
        <constructor-arg index="1" ref="playerToken"/>
        <constructor-arg index="2" ref="moveFactory"/>
        <constructor-arg index="3" ref="boardPrinter"/>
    </bean>

    <bean id="warPlayer" class="pl.edu.agh.turek.rozprochy.warcaba.client.communication.WarPlayerExporter"
          factory-method="export">
        <constructor-arg index="0" ref="warPlayerLocal"/>
        <constructor-arg index="1" value="${war.player.port}"/>
    </bean>

    <bean id="multiplayerGameFactory"
          class="pl.edu.agh.turek.rozprochy.warcaba.client.setup.gamefactories.MultiplayerGameFactory">
        <constructor-arg index="0" ref="waitingRoom"/>
        <constructor-arg index="1" ref="warPlayer"/>
        <constructor-arg index="2" ref="warManager"/>
        <constructor-arg index="3" value="${game.setup.retries}"/>
        <constructor-arg index="4" ref="gameResolver"/>
    </bean>

    <bean id="singleplayerGameFactory"
          class="pl.edu.agh.turek.rozprochy.warcaba.client.setup.gamefactories.SinglePlayerGameFactory">

    </bean>

    <bean id="gameRunner" class="pl.edu.agh.turek.rozprochy.warcaba.client.flow.TuiGameRunner"/>

</beans>
